# Ignorar a pasta do ambiente virtual
venv/

# Ignorar arquivos compilados do Python
__pycache__/

# Ignorar bancos de dados SQLite
*.sqlite3

# Ignorar dependências do Node.js (se for usar React no frontend)
node_modules/

# Ignorar arquivos de variáveis de ambiente (se tiver um .env)
.env
